<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión | RS Kitchen</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body>
<a th:href="@{/}" class="back-button">← Volver</a>

<div class="bg-bubble"></div>
<div class="bg-bubble"></div>
<div class="bg-bubble"></div>

<div class="login-container">

    <img th:src="@{/img/logo.png}" alt="SR Kitchen" class="login-logo">

    <h2>Iniciar Sesión</h2>

    <form action="/login" method="POST">
        <div class="form-group">
            <label class="form-label">Email</label>
            <input type="text" name="username" class="input" placeholder="tu@email.com" required>
        </div>

        <div class="form-group">
            <label class="form-label">Contraseña</label>
            <input type="password" name="password" class="input" placeholder="••••••••" required>
        </div>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit" class="login-button">Entrar</button>
    </form>

    <div th:if="${param.error}" class="error-message">
        Usuario o contraseña incorrectos
    </div>

</div>
</body>
</html>
